:root{
    --halihapi_header_default_height:64px;
    --color_pink:#fb7299;
    --color_pink_hold: #fa7fa2;
    --color_white:#FFFFFF;
    --bg_light_blue:#9dd9ec;
    --bg_white:#FFFFFF;
    --bg_regular:#F1F2F3;
    --bg_thin: #F6F7F8;
    --bg_black:#000000;
    --text1: #18191C;
    --text2: #61666D;
    --text3: #9499A0;
}

.form_wrap{
    position: relative;
    display: flex;
    /*flex: 1 auto;*/
    justify-content: center;
}
.form_wrap_container{
    width: 400px;
    padding: 20px 40px 20px 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
}

.large_logo_entry{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form_entry{
    width: 100%;
    font-size: 14px;
}

.input_popover{
    margin-top: 16px;
    position: relative;
    z-index: 3;
}
.input_popover:first-child{
    margin-top: 0;
}

.form_entry .input_popover input,.form_entry .input_popover button{
    padding: 8px;
    width: 100%;
    line-height: 1.3;
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid transparent;          /*transparent 用于隐藏border，但预留了位置*/
    border-radius: 6px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    transition: .3s;
    font-size: inherit;
}

.form_entry .input_popover input:focus{
    color: var(--text1);
    border-color: var(--normal_blue);
}
.form_entry .input_popover input:not(.error):hover:not(:focus){
    border-color: var(--line_thick);
}
.form_entry .input_popover input.error{
    border-color: var(--line_error);
    color: var(--text-error);
}

.form_entry .error-tips{
    color: var(--text-error);
    font-size: 12px;
    display: flex;
    align-items: center;
}

.form_entry .error-tips:before{
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(@/assets/image/icon-error.png);
    background-position: 50% 50%;
    background-size: cover;
    margin-right: 3px;
}

.form_entry .error-tips-wrap{
    padding-top: 4px;
    height: 18px;
    position: relative;
    line-height: 1;
    transition: .2s cubic-bezier(.55,0,.1,1);
}

.form_btn{
    margin-top: 32px;
    padding: 11px 0;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
    color: var(--text-white);
    background-color: var(--normal_blue);
    border-radius: 6px;
    letter-spacing: 4px;
    transition: background-color .3s;
}

.password_popover .eye{
    position: absolute;
    right: 12px;
    top: 12px;
    width: 16px;
    height: 16px;
    background: url("@/assets/image/icon-eye-visible.png") 50% 50%;
    background-size: cover;
    z-index: 2;
    cursor: pointer;
}

.password_popover .eye.close{
    background: url("@/assets/image/icon-eye-invisible.png") 50% 50%;
    background-size: cover;
}

.diy_checkbox{
    margin-left: 5px;
    margin-right: 5px;
}

input[type="checkbox"]{
    display: none;
}

.diy_check_box_style{
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border: 1px solid var(--text2);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked +label {
    border: none;
    background-color: var(--color_pink); /* 设置选中时的背景颜色 */
}
input[type="checkbox"]:checked +label  .check_icon{
    display: block;
}

.check_icon{
    position: absolute;
    left: 3px;
    top: 3px;
    display: none;
    user-select:none;
}

.input_flag_wrap{
    position: absolute;
    right: 0;
    z-index: 1;
}

.input_ok{
    width: 16px;
    height: 16px;
    margin: 12px;
    background-position: 50% 50%;
    background-image: url(../image/icon-tick.png);
    background-size: cover;
}

.password_popover .input_ok{
    margin-right: 40px!important;
}

.channel_layout{
    margin: 0 auto;
    padding: 0 var(--layout-padding);
    max-width: calc(1980px + 2 * var(--layout-padding));
}


/*image common*/
.v-image{
    position: relative;
    display: inline-block;
    line-height: 1;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: var(--bg_regular);
}
.v-image img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: inherit;
}
/*card styles*/

.feed_card_popover{
    position: relative;
    --cover_radio:56.25%;
    --border_raduis:6px;
    --info_mt:8px;
    --title_line_height:22px;
    --subtitle_line_height:17px;
    --title_pr:16px;
    --title_fs:15px;
    --subtitle_fs:13px;
    --subtitle_mt:4px;
    --subtitle_icon_mr:2px;
    --subtitle_date_ml:4px;
}



.shim_card{
    width: 100%;
    height: 0;
    padding-top: var(--cover_radio);
}
.card_skeleton{
    pointer-events: none;
    user-select: none;
}
.card_skeleton.hide{
    visibility: hidden;
}
.card_skeleton__cover{
    padding-top: var(--cover_radio);
    border-radius: var(--border_raduis);
    background-color: var(--bg_regular);
}
.card_skeleton__info{
    margin-top: var(--info_mt);
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.card_skeleton__info_inner{
    min-width: 0;
    flex: 1;
}
.card_skeleton__info_test{
    margin-bottom: 4px;
    width: 94%;
    height: calc(var(--title_line_height) - var(--subtitle_mt));
    border-radius: 4px;
    background-color: var(--bg_regular);
}
.card_skeleton__info_test.short{
    width: 72%;
}
.card_skeleton__info_light{
    margin-top: 8px;
    width: 50%;
    height: var(--subtitle_line_height);
    border-radius: 4px;
    background-color: var(--bg_regular);
}
.card_wrap{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--bg_white);
}

.card_image_link{
    position: relative;
    cursor: pointer;
}

.card_image_popover{
    padding-top: var(--cover_radio);
}

.card_picture_entry{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: var(--border_raduis);
    object-fit: cover;
}
.card_info_entry{
    margin-top: var(--info_mt);
    min-height: calc(var(--title_line_height) * 2 + var(--subtitle_line_height) + var(--subtitle_mt));
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.card_info_inner{
    min-width: 0;
    flex: 1;
    position: relative;
}

.card_info_title{
    padding-right: var(--title_pr);
    font-size: var(--title_fs);
    color: var(--text1);
    line-height: var(--title_line_height);
    height: calc(2 * var(--title_line_height));
    display: -webkit-box;
    overflow: hidden;       /*多的隐藏掉*/
    text-overflow: ellipsis;
    -webkit-box-orient: vertical; /*多的会用省略号代替，与-webkit-box联用*/
    word-break: break-word!important;
    line-break: anywhere;
    -webkit-line-clamp: 2;
}

.card_info__button{
    margin-top: var(--subtitle_mt);
    color: var(--text3);
    font-size: var(--subtitle_fs);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card_info__author{
    cursor: pointer;
    transition: color .2s linear;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    justify-content: flex-start;
    line-height: var(--subtitle_line_height);
}

.card_info__author_icon{
    margin-right: var(--subtitle_icon_mr);
    height: calc(var(--subtitle_line_height) - 1px) ;
    width:  calc(var(--subtitle_line_height) - 1px) ;
}

.card_info__author_name{
    flex: 1;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word!important;
    line-break: anywhere;
    -webkit-line-clamp: 1;
    line-height: inherit;
}

.card_info__date{
    margin-left: var(--subtitle_date_ml);
    line-height: inherit;
}

.card_info_title a{
    transition: color .2s linear;
    cursor: pointer;
}

.card_info_title a:hover,.card_info__author:hover{
    color: var(--normal_blue);
}

