.platform_popover{
    --send_article_svg_s:30px;
    --send_article_svg_mr:7px;
    --send_article_test_fs:20px;
    --send_article_test_fw:600;
}
.platform_entry_padding{
    padding:0 40px;
}
.platform_entry_top_wrap{
    height: 64px;
    border-bottom: 1px solid var(--line_regular);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.platform_entry_top_wrap .left_part{
    color: var(--normal_blue);
    line-height: 64px;
    display: flex;
    align-items: center;
}
.send_article_svg{
    height: var(--send_article_svg_s);
    width: var(--send_article_svg_s);
    margin-right: var(--send_article_svg_mr);
}
.left_part .send_article_test{
    font-size: var(--send_article_test_fs);
    font-weight: var(--send_article_test_fw);
}
.platform_entry_main_wrap{
    display: flex;
    flex-direction: column;
}
.article_put_title_wrap,.article_put_desc_wrap,.article_put_cover_wrap{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.article_put_title_wrap input{
    width: 100%;
    line-height: 32px;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 50px 10px 10px;
    border: 1px solid var(--line_contribute);
    transition: border-color .2s;
}
.article_put_title_wrap input::placeholder,.article_put_desc_wrap textarea::placeholder{
    font-weight: 400;
    color:var(--text4);
}
.article_put_test{
    font-size: 20px;
    font-weight: 800;
}
.article_put_title,.article_put_cover,.article_put_desc,.article_put_content{
    display: flex;
    height: 30px;
    line-height: 30px;
    align-items: center;
    margin-bottom: 10px;
}
.title_svg,.desc_svg{
    width: 25px;
    height: 25px;
    margin-right: 7px;
}
.article_main_svg,.desc_svg{
    margin-top: 3px;
}
.article_main_svg{
    width: 27px;
    height: 27px;
    margin-right: 7px;
}
.article_put_desc_wrap textarea{
    width: 100%;
    border: 1px solid var(--line_contribute);
    line-height: 26px;
    font-size: 16px;
    padding: 10px 50px 10px 10px;
    outline: none;
    resize: none;
    text-align: justify;
    transition: border-color .2s;
    font-family: inherit;
    min-height: 120px;
}
.article_put_title_wrap input:hover,.article_put_desc_wrap textarea:hover,
.article_put_title_wrap input:focus,.article_put_desc_wrap textarea:focus{
    border-color: var(--normal_blue);
}
.article_put_cover_style{
    width: 200px;
    height: 112.5px;
    border: 2px dashed var(--normal_blue);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.article_put_cover_svg_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.contribute_send_large_svg{
    width: 60px;
    height: 60px;
    color: var(--normal_blue);
    margin-bottom: 10px;
}
.article_put_cover_style img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
}
.dialog-enter-from,.dialog-leave-to{
    transform: scale(0);
    opacity: 0;
}
.dialog-enter-active,.dialog-leave-active{
    transition: all .2s ease-in-out;
}
.dialog-enter-to,.dialog-leave-from{
    transform: scale(1);
}
.image_cut_entry{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.dialog_box{
    margin-top: 100px;
    border: 2px solid var(--normal_blue);
    border-radius: 8px;
}
.article_put_input{
    position: relative;
}
.article_input_text_count{
    position: absolute;
    top: 50%;
    right: 15px;
    color: var(--text3);
    font-size: 13px;
    transform: translateY(-50%);
}
.article_input_text_count.desc{
    top:unset;
    bottom: 0;
}
.quill_editor_count_wrap{
    border: 1px solid var(--line_contribute);
    border-top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 10px 15px;
}
.quill_editor_count{
    font-size: 13px;
    line-height: 20px;
    color: var(--text3);
}
.article_put_content_wrap{
    margin-bottom: 20px;
}
.article_put_more_config_wrap{
    display: flex;
    flex-direction: column;
}
.more_config_tip{
    display: flex;
    align-items: center;
    line-height: 20px;
    height: 20px;
    color: var(--text2);
    cursor: pointer;
    transition: color .2s linear;
    margin-bottom: 10px;
}
.arrow_svg{
    width: 15px;
    height: 15px;
    margin-left: 4px;
}
.more_config_tip:hover{
    color: var(--normal_blue);
}
.more_config_tip_test{
    display: flex;
    line-height: 15px;
    height: 15px;
    font-size: 12px;
    color: var(--text3);
}
.info_svg{
    width: 15px;
    height: 15px;
    margin-right: 4px;
}
.article_put_upload_wrap{
    display: flex;
    justify-content: center;
    margin: 20px 0 100px;
}
.article_put_upload_wrap button{
    margin-right: 30px;
    width: 133px;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border: 1px solid var(--normal_blue);
    border-radius: 50px;
    background-color: var(--bg_white);
    color: var(--normal_blue);
    transition: background-color .2s linear;
}
.article_put_upload_wrap .upload_btn{
    background-color: var(--normal_blue);
    color: var(--text-white);
}
.article_put_upload_wrap button:not(.upload_btn):hover{
    background-color: var(--Lb1_u);
}
.article_put_upload_wrap .upload_btn:hover{
    background-color: var(--Lb4_u);
}
.more_config_entry{
    margin-bottom: 10px;
}
.column_config{
    /*margin-bottom: 20px;*/
}
.column_item_container{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 15px 10px;
}
.column_item{
    line-height: 35px;
    height: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
}
.column_config_tip{
    color: var(--text3);
    font-size: 13px;
    line-height: 18px;
    height: 18px;
    display: flex;
    align-items: center;
}
.column_item_category{
    position: absolute;
    top: 120%;
    left: 0;
    padding: 10px 0;
    margin-top: 2px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 3px 13px rgba(0,0,0,.18);
    z-index: 1000;
    width: 100%;
    background: var(--bg_white);
}
.column_category_item{
    color: var(--text1);
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.column_category_item:hover{
    background-color: var(--bg_regular);
}
.column_item span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid var(--line_contribute);
    background-color: var(--bg_regular);
    transition: all .2s;
}
.column_item span.selected{
    background-color: var(--Lb5_u);
    border-color: var(--Lb5_u);
    color: var(--text-white);
}
.column_item span:hover{
    border-color: var(--Lb5_u);
    background-color: var(--bg_white);
    color: var(--Lb5_u);
}
.column_default_tip{
    margin-top: 10px;
}
