.article_log_card_popover{
    --popover_h:150px;
    --popover_ptm:24px;
    --cover_h:99px;
    --cover_w:176px;
    --cover_mr:24px;
    --title_h:24px;
    --title_fs:16px;
    --middle_h:56px;
    --middle_compile_h:32px;
    --middle_compile_mr:12px;
    --middle_compile_plr:12px;
    --middle_more_plr:8px;
    --date_h:20px;
    --svg_mr:7px;
    --stat_h:19px;
    --stat_fs:12px;
    --stat_mr:25px;
}
.article_log_card_popover{
    position: relative;
    height: var(--popover_h);
    padding: var(--popover_ptm) 0;
    border-bottom: 1px solid var(--line_regular);
}
.article_log_card_skeleton{
    pointer-events: none;
    user-select: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.article_log_card_skeleton.hide,.article_log_card_entry.hide{
    visibility: hidden;
}
.article_log_card_skeleton_cover,.article_log_card_cover{
    background-color: var(--bg_regular);
    border-radius: 4px;
    width: var(--cover_w);
    height: var(--cover_h);
    margin-right: 24px;
}
.article_log_card_skeleton_info,.article_log_card_info{
    flex: 1;
    height: var(--cover_h);
}
.article_log_card_skeleton_info .skeleton_info_title{
    height: var(--title_h);
    line-height: var(--title_h);
    width: 80%;
    border-radius: 4px;
    background-color: var(--bg_regular);
}

.article_log_card_info .info_title{
    height: var(--title_h);
    line-height: var(--title_h);
    font-size: var(--title_fs);
}
.article_log_card_skeleton_info .skeleton_info_middle,.info_middle{
    height: var(--middle_h);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_middle .middle_date{
    height: var(--date_h);
    line-height: var(--date_h);
    color: var(--text2);
}
.info_middle .middle_right{
    display: flex;
}
.middle_right .middle_compile,.middle_right .middle_more{
    min-width: calc(var(--middle_compile_plr) * 2);
    height: var(--middle_compile_h);
    line-height: var(--middle_compile_h);
    padding: 0 var(--middle_compile_plr);
    border: 1px solid var(--line_regular);
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}
.middle_right .middle_more{
    padding: 0;
    width: 32px;
    justify-content: center;
}
.middle_right .middle_compile{
    margin-right: var(--middle_compile_mr);
}
.middle_right .middle_compile:hover,.middle_right .middle_more:hover{
    color: var(--normal_blue);
    border-color: var(--normal_blue);
}
.middle_compile .compiler_svg{
    width: 16px;
    height: 16px;
    margin-right: var(--svg_mr);
}
.middle_more .more_svg{
    width: 16px;
    height: 16px;
    transform: rotate(90deg);
}
.skeleton_info_middle .middle_date{
    height: var(--date_h);
    border-radius: 4px;
    background-color: var(--bg_regular);
    width: 30%;
}
.article_log_card_skeleton_info .skeleton_info_stat{
    height: var(--stat_h);
    border-radius: 4px;
    background-color: var(--bg_regular);
    width: 50%;
}
.article_log_card_info .info_stat{
    height: var(--stat_h);
    line-height: var(--stat_h);
    font-size: var(--stat_fs);
    color: var(--text3);
    display: flex;
}
.info_stat .info_stat_item{
    margin-right: var(--stat_mr);
    height: 100%;
    display: flex;
    align-items: center;
}
.info_stat_item .stat_svg{
    width: 16px;
    height: 16px;
    margin-right: var(--svg_mr);
}
.article_log_card_entry{
    position: absolute;
    padding: var(--popover_ptm) 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
