
.article_manage__top_wrap{
  height: 64px;
  border-bottom: 1px solid var(--line_regular);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article_manage__top_wrap .search_wrap{
  position: relative;
  height: 32px;
  width: 230px;
  margin-left: 40px;
  display: flex;
}
.search_wrap .search_input{
  width: 100%;
  height: 100%;
  border: 1px solid var(--line_regular);
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 6px;
  font-size: 13px;
  transition: .2s;
}
.search_wrap .search_input:focus{
  border-color: var(--normal_blue);
}
.search_wrap .search_btn{
  position: absolute;
  right: 5px;
  top:6px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color .2s linear;
}
.search_wrap .search_btn:hover{
  background-color: var(--bg_regular);
}
.search_btn_svg{
  width: 14px;
  height: 14px;
}
.article_manage__top_wrap .category_wrap{
  padding-right: 40px;
  height: 32px;
  display: flex;
  align-items: center;
}
.list_wrap{
  position: relative;
  width: 112px;
  height: 100%;
  border: 1px solid var(--line_regular);
  border-radius: 4px;
}
.list_wrap.queue_wrap{
  width: 164px;
}
.list_wrap:first-of-type{
  margin-right: 10px;
}
.list_wrap input{
  padding-left: 10px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: var(--text1);
  outline: none;
  cursor: pointer;
  background: none;
  z-index: 1001;
  position: relative;
}
.list_wrap input::placeholder{
  color: var(--text1);
}
.arrow_svg{
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 9px;
  color: var(--text3);
  cursor: pointer;
}
.list_entry{
  position: absolute;
  margin-top: 6px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  z-index: 10;
  overflow: hidden;
  background-color: var(--background-white);
}
.region_list_option{
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.region_list_item{
  position: relative;
  padding-left: 10px;
  padding-right: 20px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  transition: background-color .2s linear;
}
.region_list_item:not(.is_disabled):hover{
  background-color: var(--bg_regular);
}
.check_svg{
  position: absolute;
  right: 10px;
  top: 11px;
  width: 12px;
  height: 12px;
  display: none;
}
.region-enter-from,.region-leave-to,
.queue-enter-from,.queue-leave-to{
  height: 0;
}
.region-enter-active,.region-leave-active,
.queue-enter-active,.queue-leave-active{
  transition: height .2s ease-in-out;
}
.region-enter-to,.region-leave-from{
  height: calc(36px * 17);
}
.queue-enter-to,.queue-leave-from{
  height: calc(36px * 5);
}
.region_list_item.is_disabled{
  color: var(--text3);
  cursor: not-allowed;
}
.region_list_item.selected{
  color: var(--normal_blue);
}
.region_list_item.selected .check_svg{
  display: block;
}
.article_log_wrap{
  margin-top: 12px;
  padding: 0 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.article_page_and_num_wrap{
  margin-top: 32px;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
}
