
.main_part{
    position: relative;
    width: 100%;
    --arrow-box-size: 40px;
    --swiper-pagination-color: var(--normal_blue);
    --swiper-navigation-color: var(--color_white);
    --swiper-navigation-size: 12px;
}
.game_carousel_popover{
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s;
    margin-bottom: 25px;
}
.v-img{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: .5s;
    background-color: var(--bg-thick);
    border-radius: 8px!important;
}

.v-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    border-radius: inherit;
}

.swiper_button_popover{
    position: absolute;
    height: var(--arrow-box-size);
    width: 100%;
    top: 50%;
    margin-top: calc( 0px - var(--arrow-box-size)/2);
}

.swiper_button_inner{
    height: 100%;
    position: relative;
}

.swiper-button-style{
    width: var(--arrow-box-size);
    height: var(--arrow-box-size);
    background: rgba(255,255,255,.2);
    border-radius: 8px;
    margin-top: 0;
    top: 0;
}

.swiper-button-prev{
    left: 24px;
}
.swiper-button-next{
    right: 24px;
}
.swiper-button-style:hover{
    background-color: rgba(255,255,255,.3);
}



.v_img_mask{
    border-radius: 8px!important;
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,.8) 100%);
}

.v_img_alt_test{
    position: absolute;
    bottom: 12px;
    color: var(--color_white);
    font-size: 18px;
    left:16px;
    font-weight: 500;
}

.primary_btn .roll_btn{
    height: auto;
    padding: 8px 12px;
    line-height: 16px;
    font-size: 13px;
}



