#RegisterPage{
    height: 100vh;
    min-height: 720px;
    background: url("@/assets/bg/bg-welcome.jpg") 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 2560px;
    background-color: var(--bg_white);
}



