.form_wrap.register{
    margin-top: 150px;
}

.register_halihapi_svg{
    color: var(--color_pink);
    height: 84.38px;
    width: auto;
}


.email_code_popover{
    border: 1px solid transparent;          /*transparent 用于隐藏border，但预留了位置*/
}
.email_code_popover_container{
    display: flex;
    align-items: center;
}

.email_code_popover_bd{
    flex: 1 auto;
}

.email_code_popover_bd input{
    border-radius: 6px 0  0 6px;
    border: none;
}

.email_code_popover_hd button{
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
}

.agreement_popover{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 0;
}

.agreement_text{
    color: var(--color_pink);
}

.form_btn{
    background-color: var(--color_pink);
}
.form_btn:hover{
    background-color: var(--color_pink_hold);
}

.agreement_popover span{
    font-size: 13px;
}

.input_tips{
    position: relative;
    z-index: 1;
    padding-top: 4px;
    transition: height .2s;
}

.input_tips_item{
    padding-left: 20px;
    font-size: 12px;
    line-height: 1.3;
    color: var(--text2);
    overflow: hidden;
    position: relative;
    margin-bottom: 4px;
    z-index: 2;
}

.input_tips_item::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 16px;
    height: 16px;
    background-position: 50% 50%;
    background-size: cover;
}

.input_tips_item.ok::after{
    background-image: url(@/assets/image/icon-ok.png);
    background-size: cover;
}

.email_send_btn{
    color: var(--color_pink);
}

.email_send_btn.forbid{
    color: var(--text3);
}

