.resetPassword_Identify_main{
    margin:20vh auto 0 auto;
}
.identify-desc{
    margin-bottom: 16px;
}
.identify-list .identify-item-con{
    margin-bottom: 15px;
}

.identify-list .identify-item-con:last-child{
    margin-bottom: 0;
}
.identify-item{
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 112px;
    padding: 0 25px;
    cursor: pointer;
    background-color: rgba(255,255,255, .2);
}
.identify-item:hover{
    background-color: rgba(255,255,255, .5);
}
.identify-item_logo{
    background-position: 50%;
    background-size: cover;
    height: 40px;
    margin-right: 6.5px;
    width: 40px;
}
.identify-item-logo-email{
    background-image: url("@/assets/image/minutemailer.svg");
}
.identify-item-logo-info{
    background-image: url("@/assets/image/userIdentify-info.png");
}
.identify-item_content{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: justify;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.identify-item_content .title{
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.identify-item_content .desc{
    color: #878b99;
    font-size: 13px;
}

