.welcome{
    font-size: 40px;
    color: var(--color_pink);
    font-weight: bold;
    margin-bottom: 10px;
}

.form_btn{
    background-color: var(--color_pink);
}
.form_btn:hover{
    background-color: var(--color_pink_hold);
}
