.fixed_popover{
    height: var(--halihapi_header_default_height);
    padding: 0 var(--layout-padding);
    width: 100%;
    max-width: calc(1980px + 2* var(--layout-padding));
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.fixed_popover_left{
    height: 34px;
    font-size: 22px;
    margin-right: 25px;
    color: var(--text1);
}

.fixed_popover_right{
    line-height: 34px;
}

.fixed_popover_right a{
    margin-right: 25px;
    font-size: 15px;
    display: inline-block;
    color: var(--text2);
    cursor: pointer;
    line-height: 30px;
}
.fixed_popover_right a:last-child{
    margin-right: 0;
}

.fixed_popover_right .selected_active{
    color: var(--normal_blue);
    border-bottom: 3px solid var(--normal_blue);
}

